* {
  margin: 0;
  padding: 0;
  box-sizing: borde-box;
}

:root {
  font-size: 62.5%;
  --hue: 213;
  --backgroundColor: hsl(213, 67%, 24%);
  --textButtonColor: hsl(var(--hue), 100%, 26%);
  --nav-heigth: 8rem;

  --titleTextColor: hsl(var(--hue), 100%, 26%);
}

html,
body {
  width: 100%;
  right: 100%;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;
  text-align: center;

  overflow-x: hidden;
  background-color: #f0f9ff;
}

main {

  margin-top: 10rem;
}

h4 {
  color: var(--backgroundColor);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.button {
  margin-top: 3.2rem;
  text-transform: uppercase;

  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;

  background-color: var(--backgroundColor);
  padding: 1.6rem 3.2rem;
  border-radius: 4rem;
  color: #f0f9ff;
  transition: 0.2s ease-in;

  display: inline-flex;
  gap: 1.6rem;

  box-shadow: 0px 0px 5px 2px #00000073;
}